ul li{
    list-style-type: square;/* None */
    list-style-position: inside;

}

ol li{
    /*list-style-type: upper-roman;
    list-style-position: inside;*/

    list-style: upper-alpha inside;
}