*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    padding: 10px 20px;
    margin: 10px;
    width: 300px;
    list-style: none;
    border-left: rgb(0,255,76) solid 4px;
    background-color: hsla(180, 13%, 19%, 0.178);
}

ul li{
    padding-top: 10px;
}