*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    margin: 80px auto;
    border-collapse: collapse;
    width: 400px;
}

/*table, th, td{
    border: 1px rgba(43, 35, 35, 0.315) solid;
}*/

th, td{
    border: 1px rgba(43, 35, 35, 0.315) solid;
    text-align: center;
    padding: 10px;
}

tr:nth-child(1){
    background-color: rgb(16, 180, 16);
}

tr:nth-child(even){
    background-color:rgb(233, 227, 227);
}

tr:hover{
    background-color: black;
    color: white;
    transition: all 0.2s ease-in;
}